* {
  margin: 0px;
}

body {
  font-family: 'Avenir Next LT Pro', sans-serif;
  max-width: 1280px;
  margin: auto;
}

#banner-container {

  display: flex;
  align-items: center;
  padding: 32px 24px;
  background-color: #d7d7d7;
}

#banner-container img {
  width: 60%;
}

#banner-container #banner-text {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  
}

#banner-container #banner-text h1 {
  margin-top: 24px;
  color: #4a4a4a;
}

#banner-container #banner-text p {
  color: #4a4a4a;
  margin-top: 24px;
}

#banner-container #banner-text button {
  color: white;
  background-color: #4a4a4a;
  border: unset;
  padding: 8px 0px;
  margin-top: 24px;
 
}
header {
  margin: 0;
  padding: 32px 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  
}
nav li{

  display:inline-block;
  padding: 16px;
  font-size: 18px;
  
  
}
nav ul{
  position: absolute;
  
  left: 850px;
  bottom: 5%;
 
}
nav h2{
  position: absolute;
  left: 30px;
  bottom: 25%;
  
}
nav img{
  position: absolute;
  bottom: 25%;
}


#banner-container2 {

  display: flex;
  align-items: left;
  padding: 32px 24px;
  background-color: #df6161;
  
  flex-direction: column;
}
#banner-container2 img {
  width: 60%;
}

#banner-container2 #banner-text2 {
max-width: 700px;

position: relative;
margin-top: 32px;
}
#banner-text2 p{
  margin-top: 24px;
}
#banner-container3{
  width: 100%;
  height: 500px;
  background-color: #d7d7d7;
 
}


.box{
  border: 2px solid;
  width: 100px;
  
  margin: 0px 32px 0px 32px;


}
.start{
  text-align: center;
  background-color: whitesmoke;
  padding: 32px;
}
#banner-box{
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center

}




